<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>직원 정보 수정 결과</title>
</head>
<body>
  <h1>직원 정보 수정 결과</h1>
  <% if(success) { %>
  <p>직원 정보가 성공적으로 수정되었습니다.</p>
  <% } else { %>
  <p>직원 정보 수정에 실패했습니다.</p>
  <p>오류: <%= message %></p>
  <% } %>
  <div>
    <button type="button" onclick="location.href='/emp_detail.do/<%= e_id %>'">상세보기</button>
    <button type="button" onclick="location.href='/emp_list.do'">목록</button>
  </div>
</body>
</html>